/* .swiper-container-banner{
    --swiper-space-between-mobile: 10px !important; 
  }
  .swiper-slide {
    margin-right: var(--swiper-space-between);
  }
  .swiper-container-banner .swiper-button-prev-banner:after{
      color: #A72F3B;
     width: 5px ; 
      min-height: 2px ;
      max-height: 2px;  
      min-width: 2px;
      max-width: 2px;
    }
     .swiper-container-banner .swiper-button-next-banner::after{
      color: #A72F3B;
      min-height: 2px ;
      max-height: 2px;  
      min-width: 2px;
      max-width: 2px;
    }
    
    .swiper-button-prev-banner:hover,
     .swiper-button-next-banner:hover {
      color: #A72F3B; 
    }  */
    .swiper-container-banner{
        width: 100%;
        height: 100%;
    }
    .swiper-container-banner .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
      }
      .swiper-container-banner .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px !important; 
  
}