
.mobile-incredible-offers  .multi-range-slider {
    border: none;
    direction: ltr;
    box-shadow:none;
   
}
.mobile-incredible-offers  .multi-range-slider .ruler{
    display: none;
}
.mobile-incredible-offers  .labels .label{
    display: none;
}
.mobile-incredible-offers  .multi-range-slider .bar-inner{
    border:solid 1px  #A72F3B;
}
.mobile-incredible-offers   .bar-inner-left{
    background-color: #A72F3B;
}
.mobile-incredible-offers  .bar-inner-right{
    background-color: #A72F3B;
}
.mobile-incredible-offers    .multi-range-slider .thumb::before{
    width: 13px;
    height: 13px;
    margin: -2px -12px;
}
.mobile-incredible-offers  .input-type-range-max{
    display: none !important;
}
.mobile-incredible-offers .multi-range-slider .thumb .caption * {
    display: none;
}