.swiper-container{
  --swiper-space-between-mobile: 10px !important; 
}
.swiper-slide {
  margin-right: var(--swiper-space-between);
}
.swiper-container .swiper-button-prev:after{
    color: #A72F3B;
   width: 5px ; 
    min-height: 2px ;
    max-height: 2px;  
    min-width: 2px;
    max-width: 2px;
  }
   .swiper-container .swiper-button-next::after{
    color: #A72F3B;
    min-height: 2px ;
    max-height: 2px;  
    min-width: 2px;
    max-width: 2px;
  }
  
  .swiper-button-prev:hover,
   .swiper-button-next:hover {
    color: #A72F3B; 
  } 
  @media (max-width: 767px) {
    .swiper-container {
        --swiper-slides-per-view: auto;
    }
}

@media (min-width: 768px) {
    .swiper-container {
        --swiper-slides-per-view: 7; /* Define the number of slides per view for desktop */
    }
}

.swiper-slide {
    width: calc((100% - (var(--swiper-space-between) * (var(--swiper-slides-per-view) - 1))) / var(--swiper-slides-per-view)); /* Adjust slide width */
}