*{
    font-family: dana;
  }
  @font-face {
    font-family: dana;
    font-weight: 300;
    src: url('../../../../public/font/dana-fanum-light.woff2');
  } 
   @font-face {
    font-family: dana;
    font-weight: 400;
    src: url('../../../../public/font/dana-fanum-regular.woff2');
  } 
   @font-face {
    font-family: dana;
    font-weight: 500;
    src: url('../../../../public/font/dana-fanum-medium.woff2');
  } 
   @font-face {
    font-family: dana;
    font-weight: 700;
    src: url('../../../../public/font/dana-fanum-bold.woff2');
  }