.multi-range-slider {
    border: none;
    direction: ltr;
    box-shadow:none;
   
}
.multi-range-slider .ruler{
    display: none;
}
.labels .label{
    display: none;
}
.multi-range-slider .bar-inner{
    border:solid 1px  #A72F3B;
   /* height: 4px; */
}
.bar-inner-left{
    background-color: #A72F3B;
    /* height: 4px; */
}
.bar-inner-right{
    background-color: #A72F3B;
    /* height: 4px; */
}
.multi-range-slider .thumb::before{
    width: 13px;
    height: 13px;
    margin: -2px -12px;
}
.bar-right{
    /* height: 4px; */
}
.bar-left{
    /* height: 4px  !important; */
}
.bar{
    /* height: 4px; */
}
/* .input-type-range .input-type-range-max{
    display: none;
    
}
.input-type-range .input-type-range-min{ 
    display: none;
} */
/* .input-type-range {
    display: none !important;
     */
/* } */

.input-type-range-max{
    display: none !important;
}
.multi-range-slider .thumb .caption * {
    display: none;
}

/* .multi-range-slider .input-type-range{
  display: none !important;
  position:relative;
}
.input-type-range.input-type-range-max{
    display: none !important;
}
.multi-range-slider__tooltip--min,
.multi-range-slider__tooltip--max,
.multi-range-slider .input-type-range.input-type-range-max {
  display: none !important;
} */